<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://mysql.agh.edu.pl:3306/sbatko1?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">sbatko1</property>
    <property name="hibernate.connection.password">b5N7WftM</property>
    <mapping class="com.hrm.db.model.Section"/>
    <mapping class="com.hrm.db.model.TaskPriority"/>
    <mapping class="com.hrm.db.model.Leave"/>
    <mapping class="com.hrm.db.model.Task"/>
    <mapping class="com.hrm.db.model.Role"/>
    <mapping class="com.hrm.db.model.WorkLog"/>
    <mapping class="com.hrm.db.model.Project"/>
    <mapping class="com.hrm.db.model.Comment"/>
    <mapping class="com.hrm.db.model.LeaveType"/>
    <mapping class="com.hrm.db.model.User"/>
  </session-factory>
</hibernate-configuration>
